/Debug/
/Default/
/CosineVideoTransform/x64/Release/compressed.wmc
/CosineVideoTransform/x64/Debug/compressed.wmc
/CosineVideoTransform/ipch
/CosineVideoTransform/CosineVideoTransform/x64
/CosineVideoTransform/CosineVideoTransform/compressed.wmc
/CosineVideoTransform/CosineVideoTransform/original.avi
/CosineVideoTransform/CosineVideoTransform/extracted.avi
/CosineVideoTransform/CosineVideoTransform/extracted.7z
/CosineVideoTransform/CosineVideoTransform/original1.avi
/CosineVideoTransform/WMC.v12.suo
/CosineVideoTransform/WMC.sdf
